body{
  background-color: #DAE0F5;
}

.App {
  background-color: #f5f5f5;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: #DAE0F5;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #A879E2;
}

#to-do-form::placeholder {
  color: rgba(184, 107, 107, 1);
}

#to-do-form input:focus {
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border: 0;
  border-radius: 5px;
  background-color: #A879E2;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}